# игнорируем файлы, находящиеся в подкаталоге tmp 
tmp/
# игнорируем файлы с суффиксом *_old
*_old
# игнорируем файлы с суффиксом *_backup
*_backup
# игнорируем файлы Thumbs.db
Thumbs.db
# игнорируем файлы .DS_Store
.DS_Store